/* CSS Centering Code with the Universal Selector "*" */ 

* { text-align: center;}
* font color {color: rgb(21, 0, 255);}
    p {margin: 60px;}
    h1 {margin: 60px;}
    h4 {margin: 60px;}
   title {color:rgb(21, 0, 255);}
   h1 {color:rgb(21, 0, 255);}
   h4 {color:rgb(21, 0, 255)}
   p {color: rgb(21, 0, 255);}
   body {background-color: rgb(255, 255, 255);}
   body {color: rgb(21, 0, 255);
    font-family:impact;}
   img src {margin: 60px;}
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:  rgb(21, 0, 255);
  }
   


   ul li a:hover{color:rgb(211, 211, 211);}



   