/* CSS Centering Code with the Universal Selector "*" */ 

* { text-align: center;}
* font color: {white;}
    p {margin: 60px;}
    h1 {margin: 60px;}
    h4 {margin: 60px;}
   title {color:rgb(255, 255, 255);}
   h1 {color:rgb(255, 255, 255);}
   h4 {color: white}
   p {color: white;}
   body {background-color: rgb(10, 10, 255);}
   body {color: white;
    font-family:impact;}
   img src {margin: 60px;}
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
  }
   


   ul li a:hover{color:rgb(255, 255, 255);}


